<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6 text">
                <h1>Attendance for : <span class="cur_date"></span></h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a href="/main">Home</a>
                    </li>
                    <li class="breadcrumb-item active">Punch-In</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- <div class="col-sm-2"></div> -->
            <div class="col-sm-6 col-md-12 col-lg-6">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fas fa-edit"></i>Punch-in
                        </h3>
                    </div>
                    <div class="card-body pad table-responsive">
                        <form id="punch-in-form" method="post" onsubmit="return false;">
                            <div class="form-group">
                                <label for="s_work_type">Work Type</label>
                                <select name="s_work_type" id="s_work_type" class="form-control form-control-sm">
                                    <option value="OFFICE">OFFICE</option>
                                    <option value="FACTORY">FACTORY</option>
                                    <option value="OUTDOOR">OUTDOOR</option>
                                    <option value="WFH">WFH</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="d_atten_date">Date</label>
                                <input type="date" class="form-control form-control-sm" id="d_atten_date" name="d_atten_date" disabled>
                            </div>
                            <div class="form-group">
                                <label for="t_signin_time">Start Time</label>
                                <input type="time" class="form-control form-control-sm" id="t_signin_time" name="t_signin_time" disabled>
                            </div>
                            <button type="submit" class="btn btn-primary btn-sm" id="punch_in">Punch-In</button>

                        </form>
                    </div>
                </div>

            </div>
            <!-- <div class="col-sm-2"></div> -->

        </div>
    </div>
</section>
<script src="../assets/javascript/punch_in.js"></script>