<!-- Main content -->
<section class="content-header">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-md-12">

                <div class="card card-primary card-outline">
                    <div class="card-body">
                        <span class="font-weight-bolder">
                            <b><i class="fas fa-tasks"></i> Task Report</b>
                            <button data-toggle="collapse" data-target="#demo" id="filter_coll"
                                class="btn btn-primary btn-sm float-right">
                                <i class="fas fa-filter"></i>
                            </button>
                        </span>
                        <div id="demo" class="collapse mt-1">
                            <div class="row">
                                <div class="form-group col-sm-4">
                                    <label for="s_em_code">Employee</label>
                                    <select name="s_em_code" id="s_em_code"
                                        class="form-control form-control-sm select2_emp"
                                        data-placeholder="Select an employee" style="width: 100%;">
                                        <!-- <option value="none">None</option> -->
                                    </select>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label>Date range:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="far fa-calendar-alt"></i>
                                            </span>
                                        </div>
                                        <input type="text" class="form-control form-control-sm float-right"
                                            id="date_range">
                                    </div>
                                </div>
                                <div class="form-group col-sm-4" style="margin-top: 32px;">
                                    <button type="button" class="btn btn-primary btn-sm"
                                        onclick="get_task_report_for_DH()">Filter</button>
                                    <button type="button" class="btn btn-warning btn-sm"
                                        onclick="reset_form()">Reset</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-primary card-outline">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-sm table-hover nowrap" id="task_report_tbl">
                                <thead>
                                    <tr>
                                        <td>Sr. No.</td>
                                        <td>Task</td>
                                        <td>Status</td>
                                        <td>Created date</td>
                                        <td>Deadline</td>
                                        <td>Revised date</td>
                                        <td>Created by</td>
                                        <td>Attempt by</td>
                                    </tr>
                                </thead>
                                <tbody id="task_report_list"> </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="../assets/javascript/task-report.js"></script>
<script>
    $("#filter_coll").click();
</script>