.fltrdd{
    width: 100% !important;
    /* box-shadow: 2px 2px 3px #d4d4d4 !important; */
    border-radius: 5px !important;
}

.labset{
    font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
}